.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color:#f5f5f5;
  /* background-image: url("assets/2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  min-height: 100vh;  */
   /* width: 90%;
  padding:0 5%; 
  position: relative; */
}